.app{
    display: flex;
  
}
.counter{
    width: 200px;
    margin: 10px auto; /* Centers the .todo container */

    height: 100vh;
    background: rgb(216, 146, 146);
}
.todo {
    padding: 10px;
    background: grey;
    width: 83%;
    height: 100vh; /* Add a specific height to enable scrolling */
    overflow-y: scroll; /* Ensures vertical scrolling if content overflows */
    margin: 10px auto; /* Centers the .todo container */
    border-radius: 8px; /* Adds rounded corners for a nicer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  }
  